<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fenghua.auto.order.domain.OrderTransportDetail" >
  <resultMap id="BaseResultMap" type="com.fenghua.auto.order.domain.OrderTransportDetail" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="transport_id" property="transportId" jdbcType="BIGINT" />
    <result column="order_item_id" property="orderItemId" jdbcType="BIGINT" />
    <result column="sku_id" property="skuId" jdbcType="BIGINT" />
    <result column="sku_code" property="skuCode" jdbcType="VARCHAR" />
    <result column="sku_name" property="skuName" jdbcType="VARCHAR" />
    <result column="qty" property="qty" jdbcType="INTEGER" />
    <result column="entry_id" property="entryId" jdbcType="BIGINT" />
    <result column="entry_time" property="entryTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, transport_id, order_item_id, sku_id, sku_code, sku_name, qty, entry_id, entry_time
  </sql>
  <sql id="Base_Where_Case" >
    <where >
      <if test="id != null" >
         AND id = #{id,jdbcType=BIGINT}
      </if>
      <if test="transportId != null" >
         AND transport_id = #{transportId,jdbcType=BIGINT}
      </if>
      <if test="orderItemId != null" >
         AND order_item_id = #{orderItemId,jdbcType=BIGINT}
      </if>
      <if test="skuId != null" >
         AND sku_id = #{skuId,jdbcType=BIGINT}
      </if>
      <if test="skuCode != null" >
         AND sku_code = #{skuCode,jdbcType=VARCHAR}
      </if>
      <if test="skuName != null" >
         AND sku_name = #{skuName,jdbcType=VARCHAR}
      </if>
      <if test="qty != null" >
         AND qty = #{qty,jdbcType=INTEGER}
      </if>
      <if test="entryId != null" >
         AND entry_id = #{entryId,jdbcType=BIGINT}
      </if>
      <if test="entryTime != null" >
         AND entry_time = #{entryTime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </sql>
  <select id="selectCount" resultType="java.lang.Long" parameterType="com.fenghua.auto.order.domain.OrderTransportDetail" >
    select count( id)
     from order_transport_detail
    <include refid="Base_Where_Case" />
  </select>
  <select id="select" resultMap="BaseResultMap" parameterType="com.fenghua.auto.order.domain.OrderTransportDetail" >
    select 
    <include refid="Base_Column_List" />
     from order_transport_detail
    <include refid="Base_Where_Case" />
    <if test="limit > 0" >
       limit #{offset},#{limit} 
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from order_transport_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from order_transport_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert"  useGeneratedKeys="true" keyProperty="id"  parameterType="com.fenghua.auto.order.domain.OrderTransportDetail" >
    insert into order_transport_detail (id, transport_id, order_item_id, 
      sku_id, sku_code, sku_name, 
      qty, entry_id, entry_time
      )
    values (#{id,jdbcType=BIGINT}, #{transportId,jdbcType=BIGINT}, #{orderItemId,jdbcType=BIGINT}, 
      #{skuId,jdbcType=BIGINT}, #{skuCode,jdbcType=VARCHAR}, #{skuName,jdbcType=VARCHAR}, 
      #{qty,jdbcType=INTEGER}, #{entryId,jdbcType=BIGINT}, #{entryTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective"  useGeneratedKeys="true" keyProperty="id"  parameterType="com.fenghua.auto.order.domain.OrderTransportDetail" >
    insert into order_transport_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="transportId != null" >
        transport_id,
      </if>
      <if test="orderItemId != null" >
        order_item_id,
      </if>
      <if test="skuId != null" >
        sku_id,
      </if>
      <if test="skuCode != null" >
        sku_code,
      </if>
      <if test="skuName != null" >
        sku_name,
      </if>
      <if test="qty != null" >
        qty,
      </if>
      <if test="entryId != null" >
        entry_id,
      </if>
      <if test="entryTime != null" >
        entry_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="transportId != null" >
        #{transportId,jdbcType=BIGINT},
      </if>
      <if test="orderItemId != null" >
        #{orderItemId,jdbcType=BIGINT},
      </if>
      <if test="skuId != null" >
        #{skuId,jdbcType=BIGINT},
      </if>
      <if test="skuCode != null" >
        #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="skuName != null" >
        #{skuName,jdbcType=VARCHAR},
      </if>
      <if test="qty != null" >
        #{qty,jdbcType=INTEGER},
      </if>
      <if test="entryId != null" >
        #{entryId,jdbcType=BIGINT},
      </if>
      <if test="entryTime != null" >
        #{entryTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fenghua.auto.order.domain.OrderTransportDetail" >
    update order_transport_detail
    <set >
      <if test="transportId != null" >
        transport_id = #{transportId,jdbcType=BIGINT},
      </if>
      <if test="orderItemId != null" >
        order_item_id = #{orderItemId,jdbcType=BIGINT},
      </if>
      <if test="skuId != null" >
        sku_id = #{skuId,jdbcType=BIGINT},
      </if>
      <if test="skuCode != null" >
        sku_code = #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="skuName != null" >
        sku_name = #{skuName,jdbcType=VARCHAR},
      </if>
      <if test="qty != null" >
        qty = #{qty,jdbcType=INTEGER},
      </if>
      <if test="entryId != null" >
        entry_id = #{entryId,jdbcType=BIGINT},
      </if>
      <if test="entryTime != null" >
        entry_time = #{entryTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fenghua.auto.order.domain.OrderTransportDetail" >
    update order_transport_detail
    set transport_id = #{transportId,jdbcType=BIGINT},
      order_item_id = #{orderItemId,jdbcType=BIGINT},
      sku_id = #{skuId,jdbcType=BIGINT},
      sku_code = #{skuCode,jdbcType=VARCHAR},
      sku_name = #{skuName,jdbcType=VARCHAR},
      qty = #{qty,jdbcType=INTEGER},
      entry_id = #{entryId,jdbcType=BIGINT},
      entry_time = #{entryTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>