<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fenghua.auto.order.domain.OrderItem" >
  <resultMap id="BaseResultMap" type="com.fenghua.auto.order.domain.OrderItem" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="order_id" property="orderId" jdbcType="BIGINT" />
    <result column="seller_id" property="sellerId" jdbcType="BIGINT" />
    <result column="buyer_id" property="buyerId" jdbcType="BIGINT" />
    <result column="sku_id" property="skuId" jdbcType="BIGINT" />
    <result column="sku_code" property="skuCode" jdbcType="VARCHAR" />
    <result column="sku_name" property="skuName" jdbcType="VARCHAR" />
    <result column="original_price" property="originalPrice" jdbcType="DECIMAL" />
    <result column="sale_price" property="salePrice" jdbcType="DECIMAL" />
    <result column="trade_price" property="tradePrice" jdbcType="DECIMAL" />
    <result column="qty" property="qty" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="fork_status" property="forkStatus" jdbcType="INTEGER" />
    <result column="note" property="note" jdbcType="VARCHAR" />
    <result column="evaluated_flag" property="evaluatedFlag" jdbcType="INTEGER" />
    <result column="evaluated_time" property="evaluatedTime" jdbcType="TIMESTAMP" />
    <result column="entry_id" property="entryId" jdbcType="BIGINT" />
    <result column="entry_date" property="entryDate" jdbcType="TIMESTAMP" />
    <result column="edit_id" property="editId" jdbcType="BIGINT" />
    <result column="edit_date" property="editDate" jdbcType="TIMESTAMP" />
    <result column="sku_icon" property="skuIcon" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_id, seller_id, buyer_id, sku_id, sku_code, sku_name, original_price, sale_price, 
    trade_price, qty, status, fork_status, note, evaluated_flag, evaluated_time, entry_id, 
    entry_date, edit_id, edit_date, sku_icon
  </sql>
  <sql id="Base_Where_Case" >
    <where >
      <if test="id != null" >
         AND id = #{id,jdbcType=BIGINT}
      </if>
      <if test="orderId != null" >
         AND order_id = #{orderId,jdbcType=BIGINT}
      </if>
      <if test="sellerId != null" >
         AND seller_id = #{sellerId,jdbcType=BIGINT}
      </if>
      <if test="buyerId != null" >
         AND buyer_id = #{buyerId,jdbcType=BIGINT}
      </if>
      <if test="skuId != null" >
         AND sku_id = #{skuId,jdbcType=BIGINT}
      </if>
      <if test="skuCode != null" >
         AND sku_code = #{skuCode,jdbcType=VARCHAR}
      </if>
      <if test="skuName != null" >
         AND sku_name = #{skuName,jdbcType=VARCHAR}
      </if>
      <if test="originalPrice != null" >
         AND original_price = #{originalPrice,jdbcType=DECIMAL}
      </if>
      <if test="salePrice != null" >
         AND sale_price = #{salePrice,jdbcType=DECIMAL}
      </if>
      <if test="tradePrice != null" >
         AND trade_price = #{tradePrice,jdbcType=DECIMAL}
      </if>
      <if test="qty != null" >
         AND qty = #{qty,jdbcType=INTEGER}
      </if>
      <if test="status != null" >
         AND status = #{status,jdbcType=INTEGER}
      </if>
      <if test="forkStatus != null" >
         AND fork_status = #{forkStatus,jdbcType=INTEGER}
      </if>
      <if test="note != null" >
         AND note = #{note,jdbcType=VARCHAR}
      </if>
      <if test="evaluatedFlag != null" >
         AND evaluated_flag = #{evaluatedFlag,jdbcType=INTEGER}
      </if>
      <if test="evaluatedTime != null" >
         AND evaluated_time = #{evaluatedTime,jdbcType=TIMESTAMP}
      </if>
      <if test="entryId != null" >
         AND entry_id = #{entryId,jdbcType=BIGINT}
      </if>
      <if test="entryDate != null" >
         AND entry_date = #{entryDate,jdbcType=TIMESTAMP}
      </if>
      <if test="editId != null" >
         AND edit_id = #{editId,jdbcType=BIGINT}
      </if>
      <if test="editDate != null" >
         AND edit_date = #{editDate,jdbcType=TIMESTAMP}
      </if>
      <if test="skuIcon != null" >
         AND sku_icon = #{skuIcon,jdbcType=VARCHAR}
      </if>
    </where>
  </sql>
  <select id="selectCount" resultType="java.lang.Long" parameterType="com.fenghua.auto.order.domain.OrderItem" >
    select count( id)
     from order_item
    <include refid="Base_Where_Case" />
  </select>
  <select id="select" resultMap="BaseResultMap" parameterType="com.fenghua.auto.order.domain.OrderItem" >
    select 
    <include refid="Base_Column_List" />
     from order_item
    <include refid="Base_Where_Case" />
    <if test="limit > 0" >
       limit #{offset},#{limit} 
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from order_item
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectOrderItemByOrderHeaderId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from order_item
    where order_id = #{orderId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from order_item
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert"  useGeneratedKeys="true" keyProperty="id"  parameterType="com.fenghua.auto.order.domain.OrderItem" >
    insert into order_item (id, order_id, seller_id, 
      buyer_id, sku_id, sku_code, 
      sku_name, original_price, sale_price, 
      trade_price, qty, status, 
      fork_status, note, evaluated_flag, 
      evaluated_time, entry_id, entry_date, 
      edit_id, edit_date, sku_icon
      )
    values (#{id,jdbcType=BIGINT}, #{orderId,jdbcType=BIGINT}, #{sellerId,jdbcType=BIGINT}, 
      #{buyerId,jdbcType=BIGINT}, #{skuId,jdbcType=BIGINT}, #{skuCode,jdbcType=VARCHAR}, 
      #{skuName,jdbcType=VARCHAR}, #{originalPrice,jdbcType=DECIMAL}, #{salePrice,jdbcType=DECIMAL}, 
      #{tradePrice,jdbcType=DECIMAL}, #{qty,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{forkStatus,jdbcType=INTEGER}, #{note,jdbcType=VARCHAR}, #{evaluatedFlag,jdbcType=INTEGER}, 
      #{evaluatedTime,jdbcType=TIMESTAMP}, #{entryId,jdbcType=BIGINT}, #{entryDate,jdbcType=TIMESTAMP}, 
      #{editId,jdbcType=BIGINT}, #{editDate,jdbcType=TIMESTAMP}, #{skuIcon,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective"  useGeneratedKeys="true" keyProperty="id"  parameterType="com.fenghua.auto.order.domain.OrderItem" >
    insert into order_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="sellerId != null" >
        seller_id,
      </if>
      <if test="buyerId != null" >
        buyer_id,
      </if>
      <if test="skuId != null" >
        sku_id,
      </if>
      <if test="skuCode != null" >
        sku_code,
      </if>
      <if test="skuName != null" >
        sku_name,
      </if>
      <if test="originalPrice != null" >
        original_price,
      </if>
      <if test="salePrice != null" >
        sale_price,
      </if>
      <if test="tradePrice != null" >
        trade_price,
      </if>
      <if test="qty != null" >
        qty,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="forkStatus != null" >
        fork_status,
      </if>
      <if test="note != null" >
        note,
      </if>
      <if test="evaluatedFlag != null" >
        evaluated_flag,
      </if>
      <if test="evaluatedTime != null" >
        evaluated_time,
      </if>
      <if test="entryId != null" >
        entry_id,
      </if>
      <if test="entryDate != null" >
        entry_date,
      </if>
      <if test="editId != null" >
        edit_id,
      </if>
      <if test="editDate != null" >
        edit_date,
      </if>
      <if test="skuIcon != null" >
        sku_icon,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="sellerId != null" >
        #{sellerId,jdbcType=BIGINT},
      </if>
      <if test="buyerId != null" >
        #{buyerId,jdbcType=BIGINT},
      </if>
      <if test="skuId != null" >
        #{skuId,jdbcType=BIGINT},
      </if>
      <if test="skuCode != null" >
        #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="skuName != null" >
        #{skuName,jdbcType=VARCHAR},
      </if>
      <if test="originalPrice != null" >
        #{originalPrice,jdbcType=DECIMAL},
      </if>
      <if test="salePrice != null" >
        #{salePrice,jdbcType=DECIMAL},
      </if>
      <if test="tradePrice != null" >
        #{tradePrice,jdbcType=DECIMAL},
      </if>
      <if test="qty != null" >
        #{qty,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="forkStatus != null" >
        #{forkStatus,jdbcType=INTEGER},
      </if>
      <if test="note != null" >
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="evaluatedFlag != null" >
        #{evaluatedFlag,jdbcType=INTEGER},
      </if>
      <if test="evaluatedTime != null" >
        #{evaluatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="entryId != null" >
        #{entryId,jdbcType=BIGINT},
      </if>
      <if test="entryDate != null" >
        #{entryDate,jdbcType=TIMESTAMP},
      </if>
      <if test="editId != null" >
        #{editId,jdbcType=BIGINT},
      </if>
      <if test="editDate != null" >
        #{editDate,jdbcType=TIMESTAMP},
      </if>
      <if test="skuIcon != null" >
        #{skuIcon,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fenghua.auto.order.domain.OrderItem" >
    update order_item
    <set >
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="sellerId != null" >
        seller_id = #{sellerId,jdbcType=BIGINT},
      </if>
      <if test="buyerId != null" >
        buyer_id = #{buyerId,jdbcType=BIGINT},
      </if>
      <if test="skuId != null" >
        sku_id = #{skuId,jdbcType=BIGINT},
      </if>
      <if test="skuCode != null" >
        sku_code = #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="skuName != null" >
        sku_name = #{skuName,jdbcType=VARCHAR},
      </if>
      <if test="originalPrice != null" >
        original_price = #{originalPrice,jdbcType=DECIMAL},
      </if>
      <if test="salePrice != null" >
        sale_price = #{salePrice,jdbcType=DECIMAL},
      </if>
      <if test="tradePrice != null" >
        trade_price = #{tradePrice,jdbcType=DECIMAL},
      </if>
      <if test="qty != null" >
        qty = #{qty,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="forkStatus != null" >
        fork_status = #{forkStatus,jdbcType=INTEGER},
      </if>
      <if test="note != null" >
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="evaluatedFlag != null" >
        evaluated_flag = #{evaluatedFlag,jdbcType=INTEGER},
      </if>
      <if test="evaluatedTime != null" >
        evaluated_time = #{evaluatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="entryId != null" >
        entry_id = #{entryId,jdbcType=BIGINT},
      </if>
      <if test="entryDate != null" >
        entry_date = #{entryDate,jdbcType=TIMESTAMP},
      </if>
      <if test="editId != null" >
        edit_id = #{editId,jdbcType=BIGINT},
      </if>
      <if test="editDate != null" >
        edit_date = #{editDate,jdbcType=TIMESTAMP},
      </if>
      <if test="skuIcon != null" >
        sku_icon = #{skuIcon,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fenghua.auto.order.domain.OrderItem" >
    update order_item
    set order_id = #{orderId,jdbcType=BIGINT},
      seller_id = #{sellerId,jdbcType=BIGINT},
      buyer_id = #{buyerId,jdbcType=BIGINT},
      sku_id = #{skuId,jdbcType=BIGINT},
      sku_code = #{skuCode,jdbcType=VARCHAR},
      sku_name = #{skuName,jdbcType=VARCHAR},
      original_price = #{originalPrice,jdbcType=DECIMAL},
      sale_price = #{salePrice,jdbcType=DECIMAL},
      trade_price = #{tradePrice,jdbcType=DECIMAL},
      qty = #{qty,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      fork_status = #{forkStatus,jdbcType=INTEGER},
      note = #{note,jdbcType=VARCHAR},
      evaluated_flag = #{evaluatedFlag,jdbcType=INTEGER},
      evaluated_time = #{evaluatedTime,jdbcType=TIMESTAMP},
      entry_id = #{entryId,jdbcType=BIGINT},
      entry_date = #{entryDate,jdbcType=TIMESTAMP},
      edit_id = #{editId,jdbcType=BIGINT},
      edit_date = #{editDate,jdbcType=TIMESTAMP},
      sku_icon = #{skuIcon,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>