<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fenghua.auto.order.backend.domain.ShoppingCart" >
  <resultMap id="BaseResultMap" type="com.fenghua.auto.order.backend.domain.ShoppingCart" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="buyer_id" property="buyerId" jdbcType="BIGINT" />
    <result column="sku_id" property="skuId" jdbcType="BIGINT" />
    <result column="original_price" property="originalPrice" jdbcType="DECIMAL" />
    <result column="sale_price" property="salePrice" jdbcType="DECIMAL" />
    <result column="current_price" property="currentPrice" jdbcType="DECIMAL" />
    <result column="discount_strategy_desc" property="discountStrategyDesc" jdbcType="VARCHAR" />
    <result column="qty" property="qty" jdbcType="INTEGER" />
    <result column="last_price_time" property="lastPriceTime" jdbcType="TIMESTAMP" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="seller_id" property="sellerId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, buyer_id, sku_id, original_price, sale_price, current_price, discount_strategy_desc, 
    qty, last_price_time, add_time, seller_id
  </sql>
  <sql id="Base_Where_Case" >
    <where >
      <if test="id != null" >
         AND ID = #{id,jdbcType=BIGINT}
      </if>
      <if test="ids != null" >
         AND ID in 
          <foreach item="iditem" index="index" collection="ids" open="(" separator="," close=")">
		  	#{iditem}
		  </foreach>
      </if>
      <if test="buyerId != null" >
         AND buyer_id = #{buyerId,jdbcType=BIGINT}
      </if>
      <if test="skuId != null" >
         AND sku_id = #{skuId,jdbcType=BIGINT}
      </if>
      <if test="originalPrice != null" >
         AND original_price = #{originalPrice,jdbcType=DECIMAL}
      </if>
      <if test="salePrice != null" >
         AND sale_price = #{salePrice,jdbcType=DECIMAL}
      </if>
      <if test="currentPrice != null" >
         AND current_price = #{currentPrice,jdbcType=DECIMAL}
      </if>
      <if test="discountStrategyDesc != null" >
         AND discount_strategy_desc = #{discountStrategyDesc,jdbcType=VARCHAR}
      </if>
      <if test="qty != null" >
         AND qty = #{qty,jdbcType=INTEGER}
      </if>
      <if test="lastPriceTime != null" >
         AND last_price_time = #{lastPriceTime,jdbcType=TIMESTAMP}
      </if>
      <if test="addTime != null" >
         AND add_time = #{addTime,jdbcType=TIMESTAMP}
      </if>
      <if test="sellerId != null" >
         AND seller_id = #{sellerId,jdbcType=BIGINT}
      </if>
    </where>
  </sql>
  <select id="selectCount" resultType="java.lang.Long" parameterType="com.fenghua.auto.order.qo.ShoppingCartQO" >
    select count( ID)
     from shopping_cart
    <include refid="Base_Where_Case" />
  </select>
  <select id="select" resultMap="BaseResultMap" parameterType="com.fenghua.auto.order.qo.ShoppingCartQO" >
    select 
    <include refid="Base_Column_List" />
     from shopping_cart
    <include refid="Base_Where_Case" />
    <if test="limit > 0" >
       limit #{offset},#{limit} 
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from shopping_cart
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from shopping_cart
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert"  useGeneratedKeys="true" keyProperty="id"  parameterType="com.fenghua.auto.order.backend.domain.ShoppingCart" >
    insert into shopping_cart (ID, buyer_id, sku_id, 
      original_price, sale_price, current_price, 
      discount_strategy_desc, qty, last_price_time, 
      add_time, seller_id)
    values (#{id,jdbcType=BIGINT}, #{buyerId,jdbcType=BIGINT}, #{skuId,jdbcType=BIGINT}, 
      #{originalPrice,jdbcType=DECIMAL}, #{salePrice,jdbcType=DECIMAL}, #{currentPrice,jdbcType=DECIMAL}, 
      #{discountStrategyDesc,jdbcType=VARCHAR}, #{qty,jdbcType=INTEGER}, #{lastPriceTime,jdbcType=TIMESTAMP}, 
      #{addTime,jdbcType=TIMESTAMP}, #{sellerId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective"  useGeneratedKeys="true" keyProperty="id"  parameterType="com.fenghua.auto.order.backend.domain.ShoppingCart" >
    insert into shopping_cart
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="buyerId != null" >
        buyer_id,
      </if>
      <if test="skuId != null" >
        sku_id,
      </if>
      <if test="originalPrice != null" >
        original_price,
      </if>
      <if test="salePrice != null" >
        sale_price,
      </if>
      <if test="currentPrice != null" >
        current_price,
      </if>
      <if test="discountStrategyDesc != null" >
        discount_strategy_desc,
      </if>
      <if test="qty != null" >
        qty,
      </if>
      <if test="lastPriceTime != null" >
        last_price_time,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="sellerId != null" >
        seller_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="buyerId != null" >
        #{buyerId,jdbcType=BIGINT},
      </if>
      <if test="skuId != null" >
        #{skuId,jdbcType=BIGINT},
      </if>
      <if test="originalPrice != null" >
        #{originalPrice,jdbcType=DECIMAL},
      </if>
      <if test="salePrice != null" >
        #{salePrice,jdbcType=DECIMAL},
      </if>
      <if test="currentPrice != null" >
        #{currentPrice,jdbcType=DECIMAL},
      </if>
      <if test="discountStrategyDesc != null" >
        #{discountStrategyDesc,jdbcType=VARCHAR},
      </if>
      <if test="qty != null" >
        #{qty,jdbcType=INTEGER},
      </if>
      <if test="lastPriceTime != null" >
        #{lastPriceTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sellerId != null" >
        #{sellerId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fenghua.auto.order.backend.domain.ShoppingCart" >
    update shopping_cart
    <set >
      <if test="buyerId != null" >
        buyer_id = #{buyerId,jdbcType=BIGINT},
      </if>
      <if test="skuId != null" >
        sku_id = #{skuId,jdbcType=BIGINT},
      </if>
      <if test="originalPrice != null" >
        original_price = #{originalPrice,jdbcType=DECIMAL},
      </if>
      <if test="salePrice != null" >
        sale_price = #{salePrice,jdbcType=DECIMAL},
      </if>
      <if test="currentPrice != null" >
        current_price = #{currentPrice,jdbcType=DECIMAL},
      </if>
      <if test="discountStrategyDesc != null" >
        discount_strategy_desc = #{discountStrategyDesc,jdbcType=VARCHAR},
      </if>
      <if test="qty != null" >
        qty = #{qty,jdbcType=INTEGER},
      </if>
      <if test="lastPriceTime != null" >
        last_price_time = #{lastPriceTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sellerId != null" >
        seller_id = #{sellerId,jdbcType=BIGINT},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fenghua.auto.order.backend.domain.ShoppingCart" >
    update shopping_cart
    set buyer_id = #{buyerId,jdbcType=BIGINT},
      sku_id = #{skuId,jdbcType=BIGINT},
      original_price = #{originalPrice,jdbcType=DECIMAL},
      sale_price = #{salePrice,jdbcType=DECIMAL},
      current_price = #{currentPrice,jdbcType=DECIMAL},
      discount_strategy_desc = #{discountStrategyDesc,jdbcType=VARCHAR},
      qty = #{qty,jdbcType=INTEGER},
      last_price_time = #{lastPriceTime,jdbcType=TIMESTAMP},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      seller_id = #{sellerId,jdbcType=BIGINT}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>