@import 
	"common/configuration.scss", 
	"common/base.scss",
	"common/header.scss",
	"common/footer.scss";

body{
	background-color:$userCenterBackGroundColor;
}
.content{
	position:relative;
	width:990px;
	margin:77px auto $footerMarginTop;
	padding:90px 0 60px;
	background-color:#fff;
	font-size:14px;
	input{
		height: 34px;
		line-height: 34px;
		border-radius:2px;
		padding-left:15px;
		margin-right: 10px;
	}
	.btn{
		color:$siteBtnMainColor;
		font-size: 12px;
	}
}
//进度条
.progress-box{
	color:$UnImportantFontColor;
	.progress-bar{
		height:30px;
		width:494px;
		margin: 0 auto;
		background:url(../img/progress.png)  no-repeat;
	}
	.progress-desc{
		padding:0 55px;
		height: 30px;
		line-height: 30px;
		li{
			float: left;
			margin-left: 175px;
			width: 60px;
			text-align: center;
			&.current{
				color:$siteBtnMainColor;
			}
		}
	}
}

//验证表单
.form-box{
	padding:30px;
	padding-bottom:0;
	table{
		width: 430px;
		margin:0 auto;
		color:#666;
		td{
			font-size:12px; 
			padding-bottom:30px;
			&.label{
				font-size: 14px;
				padding-right:10px;
				text-align: right;
				line-height: 36px;
			}
			&.text{
				position:relative;
				.prompt-box{
					display: none;
					position: absolute;
					bottom:0px;
					left: 0;
					height: 30px;
					line-height: 30px;
					padding-left:2.5em;
					color: $sitePromptFontColor;
					.icon-error{
						position: absolute;
						top:.5em;
						left: 0;
					}
				}
			}
			&.submit{
				padding-top:35px;
				padding-bottom:0;
			}
			img{
				width: 80px;
				height: 36px;
			}
			
		}


		input{
			width: 265px;
		}
		input.code,input.telphonecode{
			width: 115px;
		}
		.main-btn{
			padding:0 10px;
			height: 36px;
			font-size: 14px;
			border-radius:3px;
		}
		.vice-btn{
			width: 140px;
			border-radius:3px;
		}
	}
}

//邮箱链接无效
.email-link-void{
	padding-left:296px;
	.fail-icon{
		float: left;
		width: 96px;
		height: 96px;
		background:url(../img/big_fail.png) no-repeat;
	}
	.fail-desc{
		float: left;
		border-left:1px solid $textBoxBorderColor;
		padding-left:30px;
		margin-left: 24px;
		.fail-title{
			color: $sitePromptFontColor;
			font-size: 28px;
		}
		.fail-explain{
			margin-top: 16px;
			font-size: 16px;
		}
		.fail-tip{
			font-size: 12px;
			color: $UnImportantFontColor;
		}
	}
	.continue-box{
		margin-top: 56px;
		padding-left:120px;
		padding-bottom:16px;
	}
	.vice-btn{
		width: 156px;
	}
}

//邮箱找回密码成功
.email-findpwd-success{
	padding-left:296px;
	margin-top:60px;
	.success-icon{
		float: left;
		width: 96px;
		height: 96px;
		background:url(../img/big_sucess.png) no-repeat;
	}
	.success-desc{
		float: left;
		border-left:1px solid $textBoxBorderColor;
		padding-left:30px;
		margin-left: 24px;
		.success-title{
			color: $siteCorrectFontColor;
			font-size: 28px;
		}
		.success-explain{
			margin-top: 16px;
			font-size: 16px;
			.username{
				color: $siteBtnViceColor;
			}
		}
		.success-tip{
			font-size: 12px;
			color: $UnImportantFontColor;
		}
	}
	.continue-box{
		margin-top: 56px;
		padding-left:120px;
		padding-bottom:16px;
	}
	.vice-btn{
		width: 156px;
	}
}

//邮件发送成功提示
.send-email-success{
	width:430px;
	margin:36px auto 0;
	.title{
		font-size: 16px;
		margin-bottom: 1em;
		.email-address{
			color:$siteBtnViceColor;
		}
	}
}




.tab-box{
	position:absolute;
	top:-46px;
	left:0;
	padding-left:36px;
	font-size:18px;
	li{
		float: left;
		width: 160px;
		height: 46px;
		margin-right: 1em;
		background-color:#eaeaea;
		text-align: center;
		line-height: 46px;
		cursor: pointer;
		&.current,&:hover{
			border-top:2px solid $siteBtnViceColor;
		 	height: 44px;
		 	background-color:#fff;
		 	line-height: 42px;
		}
	}
}
.login-link{
	position:absolute;
	top:-24px;
	right:0;
	height:24px;
	line-height:24px;
	padding-right:1em;
	font-size:12px;
	color:$UnImportantFontColor;
	a{
		color:$siteBtnViceColor;
	}
}
