.header{
    width: 100%;
    height: 110px;
    background-color: #f1f1f1;
}
.header_box{
    width:1100px;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    background-color: #f1f1f1;
}
.header_box .header_left{
    float:left;
    width: 360px;
    height: 30px;
}
.header_box .header_left li{
    margin-right: 25px;
    float: left;
    list-style-type: none;
    color: #7d7d7d;
    font-size: 12px;
}
.header_box .header_left li.phone{
    padding-left: 24px;
    background: url("./../../imgs/ipone.png") no-repeat center left;
    font-size: 18px;
    color:#7d7d7d;
    font-weight: 600;
}
.city_wrap{
    width: auto;
    background-repeat: no-repeat;
    border-left:1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    height: 30px;
}
.city_wrap label{
    float:left;
}
.city_wrap.active{
    background-color: #fff;
    cursor: pointer;
    border-left:1px solid #ddd;
    border-right: 1px solid #ddd;
}

.city_wrap span{
    padding-left:3px;
    padding-right:7px;
}
.header_box .header_left  .city_wrap img{
    float: left;
    width: 20px;
    height: auto;
    margin-top:8px;
}
.city_wrap.active .city-wrap-allcity{
    display: block;
}
.city-wrap-allcity{
    position: absolute;
    left: 0;
    top:30px;
    width: 212px;
    height: auto;
    background-color: #fff;
    z-index: 99;
    border:1px solid #ddd;
    border-top:none;
    padding: 10px;
    display: none;
}
.city-wrap-allcity ul li{
    list-style-type: none;
    float:left;
    width:55px;
    height:20px;
    line-height: 20px;
    margin-bottom: 10px;
    overflow: hidden;
    margin-right: 15px;
}
.city-wrap-allcity ul li a{
    font-size: 12px;
    color: #666;
    padding: 5px;
    text-align: center;
}
.city-wrap-allcity ul li a:hover{
    background-color: #eee;
}
.city-wrap-allcity ul li a.current{
    background-color: #b11b1c;
    color: #fff;
}
.header_box .header_left li img{
    display: block;
    margin-top: 8px;
    width: 160px;
    height:25px;
}
.header_box .header_right{
    float: right;
    width: 300px;
    height: 30px;
    line-height: 30px;
}
.header_box .header_right li{
    padding-left: 15px;
    padding-right: 15px;
    list-style-type: none;
    float: left;
}
.header_box .header_right li a{
    color: #676767;
    font-size: 12px;
}
.header_box .header_right li a:hover{
    color: #b11b1c;
}
.header_box .header_right li.li{
    text-indent: -999px;
    overflow: hidden;
    width:2px;
    background-color: #858585;
    padding: 0;
    height: 13px;
    margin-top: 10px;
}
a{
    text-decoration: none;
}

.logo_wrap{
    width: 100%;
    height: 80px;
    background-color: #0581d8;
}
.logo_img{
    width:1100px;
    height: 80px;
    margin: 0 auto;
    background-color: #0581d8;
}
.logo_img a{
    float: left;
    width: 196px;
    height: 79px;
    overflow: hidden;
    margin-left: 20px;
    background-color:#0581d8;
}
.logo_img img{
    float: left;
    border:none;
}