@charset "utf-8";
/*
 * @title:通用样式;
 * @desc:每个界面都需引入;
 */
body,p,ul,ol,h1,h2,h3,dl,dd,hr,input{
    margin: 0;
    padding: 0;
}
/*1.input 防止元素中[font-family]不能继承  2.\5FAE\8F6F\96C5\9ED1,\5B8B\4F53 微软雅黑（Opera 12.1 之前版本不支持中文字体的英文名称）*/

body,
input,
textarea {
    font: 14px/1.5 tahoma, arial, Hiragino Sans GB, WenQuanYi Micro Hei, \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, sans-serif
}

body {
    color: #646464;
}

a,
input {
    text-decoration: none;
    outline: none;
}
input{
    border:1px solid $textBoxBorderColor;
}
input:focus{
    border-color:$siteBtnMainColor!important;
}
input.error{
    border-color:$sitePromptFontColor;
}
a{
    color: #646464;
    cursor: pointer;
}
a:hover{
    text-decoration: underline;
}
li {
    list-style: none;
}

fieldset {
    border: none;
}

em,
i {
    font-style: normal;
}

textarea {
    resize: vertical;
}
/*w人性化细节处理：1.只能垂直拖动，防止宽度改变破坏布局*/

label {
    cursor: pointer;
}
/*w:2.默认光标为手型，暗示此处可点击*/
/**
    r 考虑相应式
 * 1. 去除 IE6-9 和 Firefox 3 中 a 内部 img 元素默认的边框
 * 2. 修正 IE8 图片消失bug
 * 3. 防止 img 指定「height」时图片高度不能按照宽度等比缩放，导致图片变形
      http://jsbin.com/aJoTUca/2
 * 4. max-width: 100%; 让图片支持响应式,在图片放大效果时，不能使用会导致图片只能是父容器大小
 * 5. 去除现代浏览器图片底部的空隙
 * 6. 修复 IE7 图片缩放失真
 */

img {
    border: 0 none;
    width: auto\9;
    /* 2 */
    
    height: auto;
    /* 3 */
    
    
    
    vertical-align: top;
    /* 5 */
    
    -ms-interpolation-mode: bicubic;
    /* 6 */
}
/*清除浮动*/

.clear:after {
    clear: both;
    display: table;
    content: "";
}
.clear {
    *zoom: 1;
}
.fn-left{
    float: left;
}
.fn-right{
    float: right;
}
/*链接下划线*/

/*form checkbox*/
a.checkbox{
    display: inline-block;
    border:1px solid $textBoxBorderColor;
    width: 14px;
    height: 14px;
}
a.checkbox.checked{
    background-image: url(../img/sprite.png);
    background-position: -129px 0px;
    width: 16px;
    height: 16px;
    border:none;
}


a.main-btn,a.vice-btn{
    display: inline-block;
    height: $siteBtnHeight;
    line-height: $siteBtnHeight;
    text-align: center;
    color: #fff;
    font-size: 16px;
}
a.main-btn{
    background-color:$siteBtnMainColor;
}
a.main-btn:hover,a.vice-btn:hover{
    text-decoration: none;
    transition: all 200ms;
}
a.main-btn:hover{
    background-color:$siteBtnMainHoverColor;
}
a.vice-btn{
    background-color:$siteBtnViceColor;
}
a.vice-btn:hover{
    background-color:$siteBtnViceHoverColor;
}

/*清除IE10+ input的默认样式(右边的叉叉和眼睛)*/
::-ms-clear, ::-ms-reveal{display: none;}

/*进度条*/
.progress2{
    background-position: 0 -60px!important;
}
.progress3{
    background-position: 0 -118px!important;
}
