$siteWidth:1200px;
//网站主色调(现为蓝色)
$siteBtnMainColor:#0380d8;
//网站主按钮hover背景色
$siteBtnMainHoverColor:#0b95ed; 
//网站按钮背景色2(现为黄色)
$siteBtnViceColor:#fd9500;
//网站按钮背景色2 hover效果
$siteBtnViceHoverColor:#fdb300;
//网站按钮高度
$siteBtnHeight:38px;
//网站主字体颜色
$siteMainFontColor:#7d7d7d;
//错误提示框边框颜色
$sitePromptBoxBorderColor:#f7d0d4;
//错误提示框背景颜色
$sitePromptBoxBackGroundColor:#fbf0f1;
//错误提示字体颜色
$sitePromptFontColor:#ed5565;
//正确提示字体颜色
$siteCorrectFontColor:#2ca63d;
//文本框默认边框颜色
$textBoxBorderColor:#d6d3d3;
//（不重要的/辅助说明）的文字的颜色
$UnImportantFontColor:#989898;
//用户中心页面背景色
$userCenterBackGroundColor:#f0f2f5;
//底部footer距上面的距离
$footerMarginTop:84px;