@charset "UTF-8";
/*
 * @title:通用样式;
 * @desc:每个界面都需引入;
 */
body, p, ul, ol, h1, h2, h3, dl, dd, hr, input {
  margin: 0;
  padding: 0;
}

/*1.input 防止元素中[font-family]不能继承  2.\5FAE\8F6F\96C5\9ED1,\5B8B\4F53 微软雅黑（Opera 12.1 之前版本不支持中文字体的英文名称）*/
body,
input,
textarea {
  font: 14px/1.5 tahoma, arial, Hiragino Sans GB, WenQuanYi Micro Hei, \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, sans-serif;
}

body {
  color: #646464;
}

a,
input {
  text-decoration: none;
  outline: none;
}

input {
  border: 1px solid #d6d3d3;
}

input:focus {
  border-color: #0380d8 !important;
}

input.error {
  border-color: #ed5565;
}

a {
  color: #646464;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

li {
  list-style: none;
}

fieldset {
  border: none;
}

em,
i {
  font-style: normal;
}

textarea {
  resize: vertical;
}

/*w人性化细节处理：1.只能垂直拖动，防止宽度改变破坏布局*/
label {
  cursor: pointer;
}

/*w:2.默认光标为手型，暗示此处可点击*/
/**
    r 考虑相应式
 * 1. 去除 IE6-9 和 Firefox 3 中 a 内部 img 元素默认的边框
 * 2. 修正 IE8 图片消失bug
 * 3. 防止 img 指定「height」时图片高度不能按照宽度等比缩放，导致图片变形
      http://jsbin.com/aJoTUca/2
 * 4. max-width: 100%; 让图片支持响应式,在图片放大效果时，不能使用会导致图片只能是父容器大小
 * 5. 去除现代浏览器图片底部的空隙
 * 6. 修复 IE7 图片缩放失真
 */
img {
  border: 0 none;
  width: auto\9;
  /* 2 */
  height: auto;
  /* 3 */
  vertical-align: top;
  /* 5 */
  -ms-interpolation-mode: bicubic;
  /* 6 */
}

/*清除浮动*/
.clear:after {
  clear: both;
  display: table;
  content: "";
}

.clear {
  *zoom: 1;
}

.fn-left {
  float: left;
}

.fn-right {
  float: right;
}

/*链接下划线*/
/*form checkbox*/
a.checkbox {
  display: inline-block;
  border: 1px solid #d6d3d3;
  width: 14px;
  height: 14px;
}

a.checkbox.checked {
  background-image: url(../img/sprite.png);
  background-position: -129px 0px;
  width: 16px;
  height: 16px;
  border: none;
}

a.main-btn, a.vice-btn {
  display: inline-block;
  height: 38px;
  line-height: 38px;
  text-align: center;
  color: #fff;
  font-size: 16px;
}

a.main-btn {
  background-color: #0380d8;
}

a.main-btn:hover, a.vice-btn:hover {
  text-decoration: none;
  transition: all 200ms;
}

a.main-btn:hover {
  background-color: #0b95ed;
}

a.vice-btn {
  background-color: #fd9500;
}

a.vice-btn:hover {
  background-color: #fdb300;
}

/*清除IE10+ input的默认样式(右边的叉叉和眼睛)*/
::-ms-clear, ::-ms-reveal {
  display: none;
}

/*进度条*/
.progress2 {
  background-position: 0 -60px !important;
}

.progress3 {
  background-position: 0 -118px !important;
}

.header {
  width: 100%;
  background-color: #f1f1f1;
}

.header .header-top {
  position: relative;
  height: 30px;
  width: 1200px;
  margin: 0 auto;
  line-height: 30px;
  font-size: 12px;
  color: #7d7d7d;
}

.header .header-top a {
  color: #7d7d7d;
}

.header .header-top a.header-city {
  text-decoration: none;
}

.header .header-top .header-phone {
  position: absolute;
  top: 0;
  left: 130px;
  font-weight: bold;
  font-size: 18px;
}

.header .header-top .quick-menu {
  position: absolute;
  top: 0;
  right: .5em;
}

.header .header-top .quick-menu li {
  float: left;
  margin-left: 20px;
}

.header .header-top .header-top-left {
  position: absolute;
  padding: 0 1em;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}

.header .header-top .header-top-left:hover {
  background-color: #fff;
  border-color: #d6d3d3;
}

.header .header-top .all-city-panel {
  position: absolute;
  top: 30px;
  left: 0;
  padding: 1em;
  min-height: 100px;
  width: 200px;
  height: auto !important;
  background-color: #fff;
  overflow: hidden;
  z-index: 9;
  border: 1px solid #d6d3d3;
  border-top: none;
}

.header .header-top .all-city-panel li {
  display: inline-block;
  float: left;
  white-space: nowrap;
  margin: 0 10px;
  color: #808080;
}

.header .header-top .all-city-panel li a {
  padding: 3px 5px;
}

.header .header-top .all-city-panel li.current a {
  background-color: #b11b1c !important;
  color: #fff !important;
}

.header .header-top .all-city-panel li a:hover {
  text-decoration: none;
  background-color: #eee;
}

.header .header-top .user-name {
  color: #0380d8;
}

.header .header-content-wrap {
  background-color: #0380d8;
}

.header .header-content-wrap .header-content {
  height: 80px;
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.header .header-content-wrap .header-content h1 {
  margin-left: 17px;
}

.header .header-content-wrap .header-content .search-box {
  position: absolute;
  top: 21px;
  right: 294px;
}

.header .header-content-wrap .header-content .search-box .search-text-box {
  display: inline-block;
  height: 38px;
  width: 340px;
  padding: 0 1em;
  line-height: 38px;
  border-radius: 3px 0 0 3px;
  background-color: #fff;
}

.header .header-content-wrap .header-content .search-box .search-text-box .search-text {
  font-size: 12px;
  border: none;
  width: 100%;
}

.header .header-content-wrap .header-content .search-box .search-btn {
  position: absolute;
  top: 0;
  right: -90px;
  width: 90px;
  border-radius: 0 3px 3px 0;
}

.header .header-content-wrap .header-content .cart-box {
  position: absolute;
  top: 21px;
  right: 30px;
  height: 38px;
  width: 142px;
  line-height: 38px;
  text-align: center;
  background-color: #fff;
  font-size: 12px;
  cursor: pointer;
  z-index: 99;
}

.header .header-content-wrap .header-content .cart-box .icon-cart {
  position: absolute;
  top: 10px;
  left: 1em;
}

.header .header-content-wrap .header-content .cart-box .icon-arrow_right {
  position: absolute;
  top: 12px;
  right: .5em;
}

.header .header-content-wrap .header-content .cart-box .cart-num {
  position: absolute;
  top: -8px;
  right: 1.2em;
  width: 30px;
  height: 17px;
  text-align: center;
  line-height: 17px;
  color: #fff;
  background-color: #fd9500;
  border-radius: 8px;
  font-size: 10px;
}

.header .header-content-wrap .header-content .cart-box:hover + .cart-list-box, .header .header-content-wrap .header-content .cart-list-box:hover {
  display: block;
}

.header .header-content-wrap .header-content .cart-list-box {
  position: absolute;
  top: 58px;
  right: 30px;
  border: 1px solid #c2c8cc;
  background-color: #fff;
  z-index: 9;
  font-size: 14px;
  padding-top: 1em;
  box-shadow: 0px 0px 15px;
  display: none;
}

.header .header-content-wrap .header-content .cart-list-box .cart-list {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 350px;
  height: auto !important;
  padding: 0 .5em 0 10px;
}

.header .header-content-wrap .header-content .cart-list-box .cart-list li {
  padding: 15px 90px 16px 0;
  border-bottom: 1px solid #c2c8cc;
  position: relative;
}

.header .header-content-wrap .header-content .cart-list-box .cart-list li .product-title {
  display: block;
  width: 165px;
  height: 38px;
  overflow: hidden;
  color: #505050;
  line-height: 1.4;
}

.header .header-content-wrap .header-content .cart-list-box .cart-list li .product-para {
  margin-top: .4em;
  height: 16px;
  line-height: 1em;
}

.header .header-content-wrap .header-content .cart-list-box .cart-list li .product-price {
  margin-top: .4em;
  text-align: left;
}

.header .header-content-wrap .header-content .cart-list-box .cart-list li .delete-btn {
  position: absolute;
  top: 15px;
  right: .5em;
  font-size: 12px;
  color: #7d7d7d;
}

.header .header-content-wrap .header-content .cart-list-box .cart-list li .num {
  color: #ed5565;
}

.header .header-content-wrap .header-content .cart-list-box .cart-total {
  height: 40px;
  line-height: 40px;
  position: relative;
  text-align: left;
  font-size: 12px;
  background-color: #e8e8e8;
  padding-left: 1em;
}

.header .header-content-wrap .header-content .cart-list-box .cart-total .product-num {
  color: #000;
}

.header .header-content-wrap .header-content .cart-list-box .cart-total .go-cart-btn {
  position: absolute;
  top: 5px;
  right: 1em;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  background-color: #fd9500;
  color: #fff;
  font-size: 14px;
}

.icon-arrow_down {
  display: inline-block;
  margin-left: .5em;
}

.icon-phone {
  display: inline-block;
  margin-right: .5em;
}

.footer {
  text-align: center;
  padding-bottom: 50px;
}

.footer .about-us a {
  margin-left: 16px;
}

.footer .about-us em {
  margin-left: 16px;
}

.footer .copyright {
  margin-top: 1em;
  color: #989898;
  font-size: 12px;
}

body {
  background-color: #f0f2f5;
}

.content {
  width: 1200px;
  margin: auto;
}

.content .header-item-box {
  width: 988px;
  height: 47px;
  margin: auto;
  margin-top: 30px;
}

.content .header-item-box .item, .content .header-item-box .personal, .content .header-item-box .enterprise, .content .header-item-box .business {
  height: 47px;
  width: 158px;
  text-align: center;
  border: 1px solid #eaeaea;
  border-bottom: 0;
  background-color: #eaeaea;
  font-size: 18px;
  color: black;
  line-height: 47px;
  display: inline-block;
  cursor: pointer;
}

.content .header-item-box .select-item {
  background-color: white;
  border-top: 2px solid #fd9500;
}

.content .header-item-box .personal {
  margin-left: 44px;
}

.content .header-item-box .enterprise {
  margin-left: 20px;
}

.content .header-item-box .business {
  margin-left: 20px;
}

.content .header-item-box .login-text {
  float: right;
  font-size: 12px;
  margin-top: 20px;
  margin-right: 10px;
}

.content .header-item-box .login-text span {
  color: #a7a7a7;
}

.content .header-item-box .login-text a {
  color: #fd9500;
}

.content .personal-info {
  width: 988px;
  background-color: white;
  padding: 15px 0 15px 0;
  margin: auto;
  margin-top: 2px;
  overflow: hidden;
}

.content .personal-info .row {
  padding: 15px 0 15px 0;
  overflow: hidden;
}

.content .personal-info .row .field-col {
  width: 220px;
  height: 36px;
  float: left;
  text-align: right;
  line-height: 36px;
  color: #8c8c8c;
}

.content .personal-info .row .field-col span {
  color: red;
}

.content .personal-info .row .input-col {
  width: 280px;
  height: 36px;
  float: left;
  margin-left: 18px;
  font-size: 14px;
}

.content .personal-info .row .input-col .alert-info {
  font-size: 12px;
}

.content .personal-info .row .input-col .normal-alert-info {
  color: #989898;
}

.content .personal-info .row .input-col .error-alert-info {
  color: #ed5565;
}

.content .personal-info .row .input-col .success-alert-info {
  color: #2ca63d;
}

.content .personal-info .row .input-col .base-input, .content .personal-info .row .input-col .normal-input, .content .personal-info .row .input-col .foucs-input, .content .personal-info .row .input-col .success-input, .content .personal-info .row .input-col .error-input, .content .personal-info .row .input-col .check-code-input {
  border-radius: 2px;
  height: 36px;
  width: 280px;
}

.content .personal-info .row .input-col .normal-input {
  border: 1px solid #d6d3d3;
}

.content .personal-info .row .input-col .foucs-input {
  border: 1px solid #0380d8;
}

.content .personal-info .row .input-col .success-input {
  border: 1px solid #2ca63d;
}

.content .personal-info .row .input-col .error-input {
  border: 1px solid #ed5565;
}

.content .personal-info .row .input-col .check-code-input {
  width: 130px;
}

.content .personal-info .row .input-col img {
  height: 28px;
  width: 80px;
  vertical-align: -10px;
  margin-left: 10px;
}

.content .personal-info .row .input-col-min {
  width: auto;
}

.content .personal-info .row .msg-col {
  width: auto;
  height: 36px;
  margin-left: 10px;
  float: left;
}

.content .personal-info .row .msg-col a {
  color: #447fcc;
  font-size: 12px;
  vertical-align: -8px;
}

.content .personal-info .row .msg-col .show-error-msg {
  height: 100%;
  width: auto;
  border-radius: 5px;
  border: 1px solid #f7d0d4;
  background-color: #fbf0f1;
  padding: 0 10px 0 10px;
}

.content .personal-info .row .msg-col .show-error-msg .icon, .content .personal-info .row .msg-col .show-error-msg .icon-btn {
  margin-left: 20px;
  display: inline-block;
  vertical-align: -10px;
}

.content .personal-info .row .msg-col .show-error-msg .icon-btn {
  margin-left: -45px;
  cursor: pointer;
}

.content .personal-info .row .msg-col .show-error-msg span {
  color: #ed5565;
  font-size: 12px;
  vertical-align: -6px;
}

.content .personal-info .row .msg-col .show-normal-msg {
  padding: 0 10px 0 0;
  height: 100%;
  line-height: 36px;
}

.content .personal-info .row .msg-col .show-success-msg {
  height: 100%;
}

.content .personal-info .row .msg-col .show-success-msg .icon, .content .personal-info .row .msg-col .show-success-msg .show-error-msg .icon-btn, .content .personal-info .row .msg-col .show-error-msg .show-success-msg .icon-btn {
  vertical-align: -10px;
  display: inline-block;
}

.content .personal-info .row .msg-col .show-success-msg span {
  color: #2ca63d;
  font-size: 12px;
  vertical-align: -6px;
}

.content .personal-info .row .msg-col .phone-number-btn, .content .personal-info .row .msg-col .normal-phone-number-btn, .content .personal-info .row .msg-col .disable-phone-number-btn {
  padding: 0 12px 0 12px;
  height: 37px;
  border: 0;
  border-radius: 3px;
}

.content .personal-info .row .msg-col .normal-phone-number-btn {
  color: white;
  background-color: #0380d8;
}

.content .personal-info .row .msg-col .disable-phone-number-btn {
  color: #e6e6e6;
  background-color: #a3a3a3;
}

.content .personal-info .row-max-height {
  height: 50px;
}

.content .personal-info .agreement {
  margin-top: 20px;
  margin-left: 238px;
}

.content .personal-info .agreement .checkbox {
  cursor: pointer;
  display: inline-block;
}

.content .personal-info .agreement span {
  color: #747474;
  vertical-align: 2px;
}

.content .personal-info .agreement a {
  vertical-align: 2px;
  color: #0380d8;
}

.content .personal-info .register-button {
  margin-top: 64px;
  margin-left: 238px;
  height: 120px;
}

.content .personal-info .register-button input {
  width: 140px;
  height: 40px;
  border: 0;
  background-color: #fd9500;
  color: white;
  border-radius: 3px;
}
