<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fenghua.auto.backend.domain.user.CityArea" >
  <resultMap id="BaseResultMap" type="com.fenghua.auto.backend.domain.vo.user.CityAreaVo" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="Parent_ID" property="parentId" jdbcType="BIGINT" />
    <result column="Name" property="name" jdbcType="VARCHAR" />
    <result column="Level" property="level" jdbcType="SMALLINT" />
    <result column="Full_Path" property="fullPath" jdbcType="VARCHAR" />
    <result column="Full_Name" property="fullName" jdbcType="VARCHAR" />
    <result column="Available" property="available" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, Parent_ID, Name, Level, Full_Path, Full_Name, Available
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from city_area
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from city_area
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.fenghua.auto.backend.domain.user.CityArea" >
    insert into city_area (ID, Parent_ID, Name, 
      Level, Full_Path, Full_Name, 
      Available)
    values (#{id,jdbcType=BIGINT}, #{parentId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, 
      #{level,jdbcType=SMALLINT}, #{fullPath,jdbcType=VARCHAR}, #{fullName,jdbcType=VARCHAR}, 
      #{available,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.fenghua.auto.backend.domain.user.CityArea" >
    insert into city_area
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="parentId != null" >
        Parent_ID,
      </if>
      <if test="name != null" >
        Name,
      </if>
      <if test="level != null" >
        Level,
      </if>
      <if test="fullPath != null" >
        Full_Path,
      </if>
      <if test="fullName != null" >
        Full_Name,
      </if>
      <if test="available != null" >
        Available,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=SMALLINT},
      </if>
      <if test="fullPath != null" >
        #{fullPath,jdbcType=VARCHAR},
      </if>
      <if test="fullName != null" >
        #{fullName,jdbcType=VARCHAR},
      </if>
      <if test="available != null" >
        #{available,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fenghua.auto.backend.domain.user.CityArea" >
    update city_area
    <set >
      <if test="parentId != null" >
        Parent_ID = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        Name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        Level = #{level,jdbcType=SMALLINT},
      </if>
      <if test="fullPath != null" >
        Full_Path = #{fullPath,jdbcType=VARCHAR},
      </if>
      <if test="fullName != null" >
        Full_Name = #{fullName,jdbcType=VARCHAR},
      </if>
      <if test="available != null" >
        Available = #{available,jdbcType=BIT},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fenghua.auto.backend.domain.user.CityArea" >
    update city_area
    set Parent_ID = #{parentId,jdbcType=BIGINT},
      Name = #{name,jdbcType=VARCHAR},
      Level = #{level,jdbcType=SMALLINT},
      Full_Path = #{fullPath,jdbcType=VARCHAR},
      Full_Name = #{fullName,jdbcType=VARCHAR},
      Available = #{available,jdbcType=BIT}
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByProvince" resultMap="BaseResultMap" parameterType="java.lang.Short" >
    select 
    <include refid="Base_Column_List" />
    from city_area
    where Level = #{level,jdbcType=SMALLINT}
  </select>
  <select id="selectByCity" resultMap="BaseResultMap" parameterType="com.fenghua.auto.backend.domain.user.CityArea" >
    select 
    <include refid="Base_Column_List" />
    from city_area
    where Level = #{level,jdbcType=SMALLINT} and Parent_ID = #{parentId,jdbcType=INTEGER}
  </select>
  <select id="selectByArea" resultMap="BaseResultMap" parameterType="com.fenghua.auto.backend.domain.user.CityArea" >
   	select 
    <include refid="Base_Column_List" />
    from city_area
    where Level = #{level,jdbcType=SMALLINT} and Parent_ID = #{parentId,jdbcType=INTEGER}
  </select>
</mapper>