<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fenghua.auto.backend.domain.user.ResetPassRequest">

<resultMap id="BaseResultMap" type="com.fenghua.auto.backend.domain.vo.user.ResetPassRequestVo" >
    <id column="User_ID" property="userId" jdbcType="BIGINT" />
    <result column="certificate_code" property="certificateCode" jdbcType="VARCHAR" />
    <result column="valid_to" property="validTo" jdbcType="TIMESTAMP" />
</resultMap>


 <sql id="Base_Column_List" >
    User_ID, certificate_code, valid_to
  </sql>
<!-- 添加忘记密码信息 -->
 <insert id="insert" useGeneratedKeys="true" keyProperty="userId" parameterType="com.fenghua.auto.backend.domain.user.ResetPassRequest" >
    insert into Reset_Password_Request (User_ID, certificate_code, valid_to)
    values (#{userId,jdbcType=BIGINT}, #{certificateCode,jdbcType=VARCHAR}, #{validTo,jdbcType=TIMESTAMP})
  </insert>
  <!-- 根据 激活码和有户名查询忘记密码信息-->
  <select id="selectByCodeAndUser" parameterType="java.util.HashMap" resultMap="BaseResultMap">
	select 
		 <include refid="Base_Column_List" />				
			from Reset_Password_Request where certificate_code=#{certificateCode} 
	</select>
	<!-- 根据用户id删除一条忘记密码数据 -->
	<delete id="deleteByUserId" parameterType="java.util.HashMap" >
		delete from Reset_Password_Request
		where User_ID=#{UserId} and certificate_code=#{token}
</delete>
</mapper>