<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fenghua.auto.backend.domain.user.UserAddress" >
  <resultMap id="BaseResultMap" type="com.fenghua.auto.backend.domain.user.UserAddress" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="User_ID" property="userId" jdbcType="BIGINT" />
    <result column="Alias" property="alias" jdbcType="VARCHAR" />
    <result column="Detail_Addr" property="detailAddr" jdbcType="VARCHAR" />
    <result column="Receiver_Name" property="receiverName" jdbcType="VARCHAR" />
    <result column="Receiver_Mobile" property="receiverMobile" jdbcType="VARCHAR" />
    <result column="Default_Addr" property="defaultAddr" jdbcType="BIT" />
    <result column="created_ts" property="createdTs" jdbcType="TIMESTAMP" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="last_Modified_ts" property="lastModifiedTs" jdbcType="TIMESTAMP" />
    <result column="last_Modified_by" property="lastModifiedBy" jdbcType="VARCHAR" />
    <result column="province_id" property="provinceId" jdbcType="BIGINT" />
    <result column="city_id" property="cityId" jdbcType="BIGINT" />
    <result column="area_id" property="areaId" jdbcType="BIGINT" />
    <result column="province_name" property="provinceName" jdbcType="VARCHAR" />
    <result column="city_name" property="cityName" jdbcType="VARCHAR" />
    <result column="area_name" property="areaName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, User_ID, Alias, Detail_Addr, Receiver_Name, Receiver_Mobile, Default_Addr, created_ts, 
    created_by, last_Modified_ts, last_Modified_by, province_id, city_id, area_id, province_name, 
    city_name, area_name
  </sql>
  <sql id="Base_Where_Case" >
    <where >
      <if test="id != null" >
         AND ID = #{id,jdbcType=BIGINT}
      </if>
      <if test="userId != null" >
         AND User_ID = #{userId,jdbcType=BIGINT}
      </if>
      <if test="alias != null" >
         AND Alias = #{alias,jdbcType=VARCHAR}
      </if>
      <if test="detailAddr != null" >
         AND Detail_Addr = #{detailAddr,jdbcType=VARCHAR}
      </if>
      <if test="receiverName != null" >
         AND Receiver_Name = #{receiverName,jdbcType=VARCHAR}
      </if>
      <if test="receiverMobile != null" >
         AND Receiver_Mobile = #{receiverMobile,jdbcType=VARCHAR}
      </if>
      <if test="defaultAddr != null" >
         AND Default_Addr = #{defaultAddr,jdbcType=BIT}
      </if>
      <if test="createdTs != null" >
         AND created_ts = #{createdTs,jdbcType=TIMESTAMP}
      </if>
      <if test="createdBy != null" >
         AND created_by = #{createdBy,jdbcType=VARCHAR}
      </if>
      <if test="lastModifiedTs != null" >
         AND last_Modified_ts = #{lastModifiedTs,jdbcType=TIMESTAMP}
      </if>
      <if test="lastModifiedBy != null" >
         AND last_Modified_by = #{lastModifiedBy,jdbcType=VARCHAR}
      </if>
      <if test="provinceId != null" >
         AND province_id = #{provinceId,jdbcType=BIGINT}
      </if>
      <if test="cityId != null" >
         AND city_id = #{cityId,jdbcType=BIGINT}
      </if>
      <if test="areaId != null" >
         AND area_id = #{areaId,jdbcType=BIGINT}
      </if>
      <if test="provinceName != null" >
         AND province_name = #{provinceName,jdbcType=VARCHAR}
      </if>
      <if test="cityName != null" >
         AND city_name = #{cityName,jdbcType=VARCHAR}
      </if>
      <if test="areaName != null" >
         AND area_name = #{areaName,jdbcType=VARCHAR}
      </if>
    </where>
  </sql>
  <select id="selectCount" resultType="java.lang.Long" parameterType="com.fenghua.auto.backend.domain.user.UserAddress" >
    select count( ID)
     from user_address
    <include refid="Base_Where_Case" />
  </select>
  <select id="select" resultMap="BaseResultMap" parameterType="com.fenghua.auto.backend.domain.user.UserAddress" >
    select 
    <include refid="Base_Column_List" />
     from user_address
    <include refid="Base_Where_Case" />
    <if test="limit > 0" >
       limit #{offset},#{limit} 
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from user_address
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from user_address
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.fenghua.auto.backend.domain.user.UserAddress" >
    insert into user_address (ID, User_ID, Alias, 
      Detail_Addr, Receiver_Name, Receiver_Mobile, 
      Default_Addr, created_ts, created_by, 
      last_Modified_ts, last_Modified_by, province_id, 
      city_id, area_id, province_name, 
      city_name, area_name)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{alias,jdbcType=VARCHAR}, 
      #{detailAddr,jdbcType=VARCHAR}, #{receiverName,jdbcType=VARCHAR}, #{receiverMobile,jdbcType=VARCHAR}, 
      #{defaultAddr,jdbcType=BIT}, #{createdTs,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=VARCHAR}, 
      #{lastModifiedTs,jdbcType=TIMESTAMP}, #{lastModifiedBy,jdbcType=VARCHAR}, #{provinceId,jdbcType=BIGINT}, 
      #{cityId,jdbcType=BIGINT}, #{areaId,jdbcType=BIGINT}, #{provinceName,jdbcType=VARCHAR}, 
      #{cityName,jdbcType=VARCHAR}, #{areaName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.fenghua.auto.backend.domain.user.UserAddress" >
    insert into user_address
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="userId != null" >
        User_ID,
      </if>
      <if test="alias != null" >
        Alias,
      </if>
      <if test="detailAddr != null" >
        Detail_Addr,
      </if>
      <if test="receiverName != null" >
        Receiver_Name,
      </if>
      <if test="receiverMobile != null" >
        Receiver_Mobile,
      </if>
      <if test="defaultAddr != null" >
        Default_Addr,
      </if>
      <if test="createdTs != null" >
        created_ts,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="lastModifiedTs != null" >
        last_Modified_ts,
      </if>
      <if test="lastModifiedBy != null" >
        last_Modified_by,
      </if>
      <if test="provinceId != null" >
        province_id,
      </if>
      <if test="cityId != null" >
        city_id,
      </if>
      <if test="areaId != null" >
        area_id,
      </if>
      <if test="provinceName != null" >
        province_name,
      </if>
      <if test="cityName != null" >
        city_name,
      </if>
      <if test="areaName != null" >
        area_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="alias != null" >
        #{alias,jdbcType=VARCHAR},
      </if>
      <if test="detailAddr != null" >
        #{detailAddr,jdbcType=VARCHAR},
      </if>
      <if test="receiverName != null" >
        #{receiverName,jdbcType=VARCHAR},
      </if>
      <if test="receiverMobile != null" >
        #{receiverMobile,jdbcType=VARCHAR},
      </if>
      <if test="defaultAddr != null" >
        #{defaultAddr,jdbcType=BIT},
      </if>
      <if test="createdTs != null" >
        #{createdTs,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="lastModifiedTs != null" >
        #{lastModifiedTs,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifiedBy != null" >
        #{lastModifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="provinceId != null" >
        #{provinceId,jdbcType=BIGINT},
      </if>
      <if test="cityId != null" >
        #{cityId,jdbcType=BIGINT},
      </if>
      <if test="areaId != null" >
        #{areaId,jdbcType=BIGINT},
      </if>
      <if test="provinceName != null" >
        #{provinceName,jdbcType=VARCHAR},
      </if>
      <if test="cityName != null" >
        #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="areaName != null" >
        #{areaName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fenghua.auto.backend.domain.user.UserAddress" >
    update user_address
    <set >
      <if test="userId != null" >
        User_ID = #{userId,jdbcType=BIGINT},
      </if>
      <if test="alias != null" >
        Alias = #{alias,jdbcType=VARCHAR},
      </if>
      <if test="detailAddr != null" >
        Detail_Addr = #{detailAddr,jdbcType=VARCHAR},
      </if>
      <if test="receiverName != null" >
        Receiver_Name = #{receiverName,jdbcType=VARCHAR},
      </if>
      <if test="receiverMobile != null" >
        Receiver_Mobile = #{receiverMobile,jdbcType=VARCHAR},
      </if>
      <if test="defaultAddr != null" >
        Default_Addr = #{defaultAddr,jdbcType=BIT},
      </if>
      <if test="createdTs != null" >
        created_ts = #{createdTs,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="lastModifiedTs != null" >
        last_Modified_ts = #{lastModifiedTs,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifiedBy != null" >
        last_Modified_by = #{lastModifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="provinceId != null" >
        province_id = #{provinceId,jdbcType=BIGINT},
      </if>
      <if test="cityId != null" >
        city_id = #{cityId,jdbcType=BIGINT},
      </if>
      <if test="areaId != null" >
        area_id = #{areaId,jdbcType=BIGINT},
      </if>
      <if test="provinceName != null" >
        province_name = #{provinceName,jdbcType=VARCHAR},
      </if>
      <if test="cityName != null" >
        city_name = #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="areaName != null" >
        area_name = #{areaName,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fenghua.auto.backend.domain.user.UserAddress" >
    update user_address
    set User_ID = #{userId,jdbcType=BIGINT},
      Alias = #{alias,jdbcType=VARCHAR},
      Detail_Addr = #{detailAddr,jdbcType=VARCHAR},
      Receiver_Name = #{receiverName,jdbcType=VARCHAR},
      Receiver_Mobile = #{receiverMobile,jdbcType=VARCHAR},
      Default_Addr = #{defaultAddr,jdbcType=BIT},
      created_ts = #{createdTs,jdbcType=TIMESTAMP},
      created_by = #{createdBy,jdbcType=VARCHAR},
      last_Modified_ts = #{lastModifiedTs,jdbcType=TIMESTAMP},
      last_Modified_by = #{lastModifiedBy,jdbcType=VARCHAR},
      province_id = #{provinceId,jdbcType=BIGINT},
      city_id = #{cityId,jdbcType=BIGINT},
      area_id = #{areaId,jdbcType=BIGINT},
      province_name = #{provinceName,jdbcType=VARCHAR},
      city_name = #{cityName,jdbcType=VARCHAR},
      area_name = #{areaName,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>